

header {background-color: #e9e9e9;
    padding:1px;
    padding-bottom:10px;
    float:top;
    margin-bottom:20px;
    text-align: center;
    word-spacing:20px;
    font-weight:bold;
    border: 1px solid black;
}


#space{border:1px solid gray;
    border-radius: 5px;
    padding:3px;
    background-color: white;
    margin-right:30px;
}

#bar{
    border-radius:2px;
    word-spacing:0px;
    font-weight:normal;
    text-align: center;
    background-color: lightgray;
}

#search{background-color:white;
    word-spacing:100px;
    color:darkgray;
}

#up{border:0.5px solid #008d00;
    border-radius:3px;
    padding:10px;
    background-image: linear-gradient(to bottom, #0ec505, #008d00);
    color:white;
    word-spacing:0px;
    margin-left:80px;
}

#in{border: 0.5px solid #a9a9a9;
    border-radius:3px;
    padding:10px;
    word-spacing:0px;
    background-image: linear-gradient(to bottom, #f2f2f2, #e0e0e0);

}
{!---------------------------------↑위에는_헤더----------------------------------------}

body{margin:0px;
    font-family:octicons;
}

ul li {display:inline;}
mainheader li{display:inline;}
section.main li {display:inline;}
footer li{display:inline;}


div{
    margin-left:200px;
    padding:0px;
    border:1px solid black;
    font-size:90%;
    width:900px;
}
section.main{float:left;
    border:1px dotted red;
    width:700px;
}

mainheader{
    font-size:170%;
    margin-left:200px;
    margin-right:200px;

}
#k{
    color: #1275ff;
}

#web{
    color:#1275ff;
    font-weight:bold;
    margin-right:300px;
}

<!--예훈-->

mainbox li{
    border:1px solid gray;
    border-radius:2px;
    background-color:lightgray;
    padding:3px;
    font-size:50%;
    margin-left:0px;
    margin-right:0px;
}
#num{
    background-color:white;
    margin-left:0px;
}

<!--예훈-->

<!--지희-->

section.table1{
    border:1px solid blue;
    width:700px;
}
section.table2{border:1px solid blue;
    width:700px;
}
<!--지희-->

aside{margin-left:710px;
    border:1px;

}

footer{text-align: center;
    float:bottom;
    margin-top:200px;
}
