

header {background-color: #e9e9e9;
    padding:1px;
    padding-bottom:10px;
    float:top;
    margin-bottom:20px;
    text-align: center;
    word-spacing:20px;
    font-weight:bold;
    border: 1px solid black;
}


#space{border:1px solid gray;
    border-radius: 5px;
    padding:3px;
    background-color: white;
    margin-right:30px;
}

#bar{
    border-radius:2px;
    word-spacing:0px;
    font-weight:normal;
    text-align: center;
    background-color: lightgray;
}

#search{background-color:white;
    word-spacing:100px;
    color:darkgray;
}

#up{border:0.5px solid #008d00;
    border-radius:3px;
    padding:10px;
    background-image: linear-gradient(to bottom, #0ec505, #008d00);
    color:white;
    word-spacing:0px;
    margin-left:80px;
}

#in{border: 0.5px solid #a9a9a9;
    border-radius:3px;
    padding:10px;
    word-spacing:0px;
    background-image: linear-gradient(to bottom, #f2f2f2, #e0e0e0);

}
/*---------------------------------↑위에는_헤더----------------------------------------*/

body{margin:0px;
    font-family:octicons;
}

ul li {display:inline;}
mainheader li{display:inline;}
section.main li {display:inline;}
footer li{display:inline;}
.main-detail{color: #4b4b4b;}


div{
    margin-left:200px;
    padding:0px;
    border:1px solid black;
    font-size:90%;
    width:900px;
}
section.main{float:left;
    border:1px dotted red;
    width:700px;
}

/*예훈*/

mainheader{
    font-size:170%;
    margin-left:200px;
    margin-right:200px;
}
hr{
    border-top:0.3px solid lightgray;
    border-bottom: 0px;
}

#k{
    color: #1275ff;
}

#web{
    color:#1275ff;
    font-weight:bold;
    margin-right:300px;
}


mainbox li{
    border:1px solid gray;
    border-radius:2px;
    background-color:lightgray;
    padding:3px;
    font-size:50%;
    font-weight:bold;
    margin-right:-10px;
}
.num{
    background-color:white;
    margin-right:0px;
}

#info{
    border:1px solid gray;
    border-bottom: 5px solid #f3db08;
    width:700px;
    margin-left: 0px;

}

#info li{
    margin-left:40px;
    margin-right:40px;
}

.b{
    font-weight:bold;
}

p span{
    color:#4b4b4b;
    font-size:150%;
}


span#button{
    color:white;
    border:1px solid #008000;
    border-radius:3px;
    padding:3px;
    background-color:#008000;
    font-size:100%;
}


span#branch{
    border:1px solid gray;
    padding:3px;
    padding-right:7px;
    padding-left:7px;
    border-radius:3px;
    background-image: linear-gradient(to bottom, white, #d5d5d5);
    font-size:100%;
}

a#button{
    color: #696969;
    font-size:90%;
}

a#year{
    font-weight:bold;
    font-size:90%;
}

span#blue{
    font-size:150%;
    color:#1275ff;
    font-weight:bold;
}

span#icon{
    margin-left:220px;
}

/*예훈*/

/*지희*/

section.table1{
    border:1px solid blue;
    width:700px;
}
section.table2{border:1px solid blue;
    width:700px;
}
/*지희*/

aside{margin-left:710px;
    border:1px;

}

footer{text-align: center;
    float:bottom;
    margin-top:200px;
}
